<header class="site-header site-header--sticky">
  <a class="site-header__brand" href="{{ url_for('agent.dashboard') }}">
    <img
      class="site-header__mark"
      src="{{ url_for('static', filename='img/radspion_mark_white.svg') }}"
      width="36"
      height="36"
      alt=""
    >
    <span class="site-header__title">Radspion</span>
  </a>

  <form class="clearance-form site-header__clearance" action="#" method="post">
    <label class="sr-only" for="clearance-code">Clearance code</label>
    <input
      class="clearance-form__input text-mono"
      type="text"
      id="clearance-code"
      name="clearance_code"
      autocomplete="off"
      spellcheck="false"
      placeholder="Clearance code"
    >
    <button class="clearance-form__submit" type="submit">Request Access</button>
  </form>

  <div class="site-header__end">
    <a class="site-header__agent-link" href="#">{{ user.codename }}</a>
    <form action="{{ url_for('auth.logout') }}" method="post">
      <button type="submit" class="site-header__action">Sign out</button>
    </form>
  </div>
</header>
