{% extends "base.html" %}

{% block body_class %}page--dashboard{% endblock %}
{% block main_class %}page__main--dashboard{% endblock %}

{% block site_header %}
  {% include "agent/_header.html" %}
{% endblock %}

{% block content %}
  {% block agent_content %}{% endblock %}
{% endblock %}

{% block extra_body %}
  {% include "_transmission_modal.html" %}
  <script src="{{ url_for('static', filename='js/transmission-modal.js') }}"></script>
  <script src="{{ url_for('static', filename='js/transmission-outcome.js') }}"></script>
  <script src="{{ url_for('static', filename='js/clearance-redeem.js') }}"></script>
  <script src="{{ url_for('static', filename='js/clearance-form.js') }}"></script>
  {% block agent_extra_body %}{% endblock %}
{% endblock %}
